@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
  box-sizing: border-box;
  font-family: 'roboto';
  -webkit-tap-highlight-color: transparent
}

body {
  margin: 0;
}

/* STARS */
.stars{
  position: relative;
}

.stars-top{
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  overflow: hidden;
  color: #777;
  height: 20px;
}

.stars-bottom {
  display: flex;
  align-items: center;
  color: #ddd;
  height: 20px;
}

.stars span{
  font-size: 20px;
}

.stars span:last-child{
  margin-right: 0;
}

/* SWIPER */
.swiper{
  padding-bottom: 30px!important;
}

.swiper .swiper-pagination{
  bottom: -5px!important;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active{
  background-color: #699f39!important;
}